@{
    ViewBag.Title = "Home Page";
}
<p>Hello, @ViewBag.User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value</p>
<p>Username: @ViewBag.User.Name</p>
<p>Last login: @ViewBag.User.LastLogin.ToString()</p>

<div class="jumbotron">
    <h1>JWT Token Claims</h1>
</div>
<div class="row">
    <div class="col-md-12">
        @foreach (var claim in ViewBag.Claims)
        {
            <p>@claim</p>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>From Customer Service: @ViewBag.Customer.FirstName @ViewBag.Customer.LastName</p>
    </div>
</div>

<div class="jumbotron">
    <h1>Application User Token Claims</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var claim in ViewBag.UserClaims)
        {
            <p>@claim</p>
        }
    </div>
</div>